body{
    background-color: #05121E;
    color: #FA0000;
    font-family: "Bangers", system-ui;
}
section{
    background-color: #05121E;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

header{
    border: solid 6px red)
}

